* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(114 153 197);
  display: flex;
  color: #e4e4e4;
  flex-direction: column;
  align-items: center;
  min-height: 76vh;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
}
button {
  background-color: rgb(0 0 0);
  color: #e4e4e4;
  box-shadow: 0 0 2px black;
  font-size: 14px;
  font-weight: 600;
  padding: 1em;
  min-width: 175px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin: 1rem auto;
  margin-bottom: 0.5rem;
}
button:hover {
  background-color: rgb(114 153 197);
}
